/* reset */

*{
    margin: 0;
    padding: 0;
}

html, body{
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue";
}




/* css balise */

img{
    width: 100%;
}

h1{
    text-align: center;
    font-size: 24px;
}

p{
    text-align: justify;
    padding: 10px;
    margin-bottom: 0;
}

li{
    list-style: none;
    display: inline;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

img{
    padding: 10px;
    vertical-align: middle;
}


/* mise en page header*/

#bandeau-top{
    position: fixed;
    width: 100%;
}

#logo_accroche{
    background: #292c2f;
    background-size: cover;
    height: 80px;
    border-bottom: 1px solid black;
    display: grid;
}


#header{
    margin: 0;
    padding: 0;
    background: #292c2f;
    background-size: cover;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
}

#logo{
    color: white;
    text-shadow: 3px 3px 2px black;
    justify-self: center;
    align-self: center;

}

#accroche{
    color: white;
    text-shadow: 2px 2px 2px black;
    justify-self: center;
    align-self: center;
}


#navigation3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    justify-self: center;
    align-self: center;
}

#navigation4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    justify-self: center;
    align-self: center;
}

#navigation5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
    justify-self: center;
    align-self: center;
}

#logo{
    padding: 0;
    margin: 0;
}

#accroche{
    text-align: center;
    line-height: 1;
    padding: 5px;
    margin: 0;
    font-size: 10px;
}

.liens_btn_top{
    text-shadow: 2px 2px 2px black;
    transition: background-color 1s;
    transition: transform 1s;
}

.liens_btn_top:hover{
  color: white;
  transform: scale(1.2);

}

/* présentation */

#presentation{
    display: grid;
    color: black;
    margin: 0;
    padding: 0;
}

#titre_presentation{
    padding-top: 10px;
    justify-self: center;
    align-self: center;
    color: black;
    margin-top: 160px
}

#paragraphe_presentation{
    justify-self: center;
    align-self: center;
    margin-top: -5px;
}

.p_span{
    font-style: italic;
}
#item_img1{
    display: grid;
}

#img1{
    justify-self: center;
    align-self: center;
}

.content{
    flex-grow: 1;
}


.main{
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

/* pied de page */

#footer{
  background-color: #292c2f;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.links_rc > a{
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.tom_lemelle{
  text-align: center;
  margin-top: 10px;
}

.fa{
  background-color: #292c2f;
  padding: 10px;
  border: 1px solid black;
  transition: background-color 1s;
  transition: transform 1s;
  transition: color 1s;
  transition: transform 1s;
}

.fa:hover{
  background-color: #b1dccb;
  transform: scale(1.2);
  color: #292c2f;
}

.img{
  justify-self: center;
}

.container-bottom{
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.item_credit{
  padding-top: 14px;
}

.credits{
  text-align: center;
  margin: 0px;
}

.credits > a{
  color: #ffffff;
  font-size: 19px;
  text-decoration: underline;
}

.item_copyright{
  margin-top: 15px;
}

.copyright{
  text-align: center;
  margin: 0;
  font-size: 15px;
  color: #8f9296;
}


/* @media queries : au dessus de 800px */

@media (min-width: 1000px){

    /* balises  */

   a{
       font-size: 30px;
   }

   p{
     font-size: 23px;
   }


    /* css responsive */

    #logo{
        font-size: 30px;
    }

    #accroche{
        font-size: 18px;
    }


    #presentation{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 200px 1fr;
     grid-template-areas: "titre titre"
                          "paragraphe image";
     justify-items: center;
     align-items: center;
 }

    #titre_presentation{
        grid-area: titre;
    }

    #paragraphe_presentation{
        grid-area: paragraphe;
        padding-left: 45px;
        padding-right: 45px;

    }

    #item_img1{
        grid-area: image;
    }

    #formation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas: "titre titre"
        "paragraphe image";
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    #titre_formation{
        margin: 0;
        padding: 0;
        grid-area: titre;
    }

    #paragraphe_formation{
        grid-area: paragraphe;
        padding-left: 45px;
        padding-right: 45px;
        line-height: 3em;

    }

    #item_img2{
        grid-area: image;
    }

    #citation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas: "titre titre"
        "paragraphe image3";
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    #titre_citation{
        grid-area: titre;
    }

    #paragraphe_citation{
        margin: 0;
        padding: 0;
        grid-area: paragraphe;
        padding-left: 45px;
        padding-right: 45px;
        font-style: italic;
    }

    .angelina{
        font-style: normal;
    }

    #item_img3{
        grid-area: image3;
    }

    #texte_video{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas: "titre titre"
        "paragraphe image_video";
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    #titre_texte_video{
        grid-area: titre;
    }

    #paragraphe_texte_video{
        margin: 0;
        padding: 0;
        grid-area: paragraphe;
        padding-left: 45px;
        padding-right: 45px;
    }

    #img_video{
        grid-area: image_video;
    }

    /* footer */

#footer{
  flex-flow: row wrap;
}

.tom_lemelle{
  padding: 66% 0;
  margin-top: -58%;
}


.item_copyright{
  margin-left: -65%;
}
