*{
    margin: 0;
    padding: 0;
}

html, body{
    padding: 0;
    margin: 0;
}


/* css balaise */ 

img{
    width: 100%;
}

h1{
    text-align: center;
    font-size: 24px;
}

p{
    text-align: justify;
    padding: 10px;
    margin-bottom: 0;
}

li{
    list-style: none;
    display: inline;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
img{
    padding: 10px;
    vertical-align: middle;
}


/* mise en page */

#logo_accroche{
    background: #b1dccb;
    background-size: cover;
    height: 80px;
    border-bottom: 1px solid black;
    display: grid;
}

#navigation1{
    justify-self: center;
    align-self: center;
}

#navigation1{
    justify-self: center;
    align-self: center;
}


#header{
    margin: 0;
    padding: 0;
    background: #b1dccb;
    background-size: cover;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
}

#logo{
    color: white;
    text-shadow: 3px 3px 2px black;
}

#accroche{
    color: white;
    text-shadow: 2px 2px 2px black;
}



#navigation3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    justify-self: center;
    align-self: center;
}

#navigation4{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
    justify-self: center;
    align-self: center;
}

#navigation5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    justify-self: center;
    align-self: center;
}

#logo{
    padding: 0;
    margin: 0;
}

#accroche{
    text-align: center;
    line-height: 1;
    padding: 5px;
    margin: 0;
    font-size: 10px;
}

.liens_btn_top{
    text-shadow: 2px 2px 2px black;
}

.liens_btn_top:hover{
    color: black;
    text-shadow: 2px 2px 2px white;
}

/* présentation */

#presentation{
    display: grid;
    color: black;
    margin: 0;
    padding: 0;
}

#titre_presentation{
    padding-top: 10px;
    justify-self: center;
    align-self: center;
    color: black;
}

#paragraphe_presentation{
    justify-self: center;
    align-self: center;
}

#item_img1{
    display: grid;
}

#img1{
    justify-self: center;
    align-self: center;
}


/* pied de page */

#footer{
    display: grid;
    background: #696969;
    background-size: cover;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr; 
}

#img_tom{
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    justify-self: center;
    padding-left: 10px;
    padding-top: 10px;
}

#rc{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
}

#credits{
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: start;
    border-top: 1px solid #3b9842;
}

#credits_image{
    text-align: center;
}